{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": false,
  "jsxSingleQuote": false,
  "printWidth": 70,
  "tabWidth": 2,
  "bracketSameLine": false,
  "importOrder": [
    "^react$",
    "^@aws-amplify",
    "^@/",
    "^@(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,

  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
